<div class="container-fluid"><!-- ONE DIV TO RULE THEM ALL -->

  <div class="row">         <!-- Location Div -->

    <div class="col-lg-1">  <!-- Just for spacing -->
    </div>                  <!-- spacing div END -->

    <div class="col-lg-10">  <!-- Main Content -->

      <div class="row">     <!-- Main Content Header -->
        <h3>Favorites: </h3>
        <a href="/favorites/edit"><h5>Edit Your Favorites</h5></a>
      </div>                <!-- Main Content Header END-->

      <div class="row">     <!-- Main Content Info -->

        <h5>Locations:</h5>
        <ul>
          <% current_user.locations.each do |l|%>
            <li>
              <p><%= l.name %></p>
            </li>
          <% end %>
        </ul>

        <h5>Drinks:</h5>
        <ul>
          <% current_user.drinks.each do |d|%>
            <li>
              <p><%= d.name %></p>
            </li>
          <% end %>
        </ul>

      </div>                  <!-- Main Content Info END -->

    </div>                  <!-- Main Content END -->

  </div>                  <!-- Location Div End -->

</div><!-- ONE DIV TO RULE THEM ALL END -->
