<h2>Welcome to Albemarle County</h2>
<div class="col-lg-1" background-color="blue">
  <p>
    Albermarle county and the city of Charlottesville might be best known as the home of Thomas Jefferson and the University of Virginia but there are many other places to visit too.  The Charlottesville area is home to amazing array vineyards in the Monticello Viticultural Area and a growing number of breweries.  We're blessed with so many in fact it can be hard to remember which ones you've visted, and which were your favorite.  Now you can keep track of them all, find and remember your favorites, and leave a review to let others know what you think!  Come on in and grab a class.
  </p>

</div>
<div class="col-xs-2">
<a href="/sign_up">Sign Up</a><br>
<a href="/sign_in">Sign In</a>
</div>
