<!DOCTYPE html>
<html>
  <head><!-- HEADER START -->
    <meta charset="utf-8">
    <title>C'Ville Beverage Tour Tracker</title>
<!-- Styles -->
    <link href="<%= url('/css/bootstrap.css') %>" rel="stylesheet">
    <link href="<%= url('/css/bootstrap-responsive.css') %>" rel="stylesheet">
    <style>
        header, section, footer {
            display: block;
          }
        body {
            padding-top: 60px; /* When using the navbar-top-fixed */
          }
        .center {
            float: none;
            margin-left: auto;
            margin-right: auto;
          }
        .centercontents {
            text-align: center !important;
          }
        .alignrightcontents {
            text-align: right !important;
          }

    </style>

</head><!-- HEADER ENDS-->

<body><!-- BODY START -->

  <header>
    <nav>
      <span><a href="/">Home</a></span>
      <span><a href="/locations">Locations</a></span>
      <span><a href="/drinks">Drinks</a></span>
      <span><a href="/favorites">Favorites</a></span>
      <span><a href="/top-ranked">Top Ranked</a></span>
    </nav>
      <h1>Charlottesville Albermarle Beverage Tour</h1>
  </header>
  <div class="clearfix">
    <%= yield %>
  </div>
  <footer>
    <section class="col-lg-4">
      Developed and Maintained by Ryan McNeely
    </section>

    <!-- jQuery via Google + local fallback, see h5bp.com -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

    <!-- Bootstrap jQuery Plugins, compiled and minified -->
    <script src="/js/bootstrap.min.js"></script>
  </footer>
  </body><!-- BODY ENDS -->
</html>
