<div class="container-fluid"><!-- ONE DIV TO RULE THEM ALL -->

  <div class="row">         <!-- Location Div -->

    <div class="col-lg-1">  <!-- Just for spacing -->
    </div>                  <!-- spacing div END -->

    <div class="col-lg-10">
      <tbody>
        <th>
          <h2>Top Ranked Area Destinations:</h2>
        </th>

        <% @locations.sort {|a, b| a.rating <=> b.rating}.reverse.each do |l|%>
        <tr>
          <td><h5>
            <a href="/location/<%=l.slug%>">
            <%= l.name %></td><td>
            </a>

            </td>
          <td><%= l.rating %></td>
        </h5>
        </tr>
        <% end %>
      </tbody>
    </div>

  </div>                  <!-- Location Div End -->

</div><!-- ONE DIV TO RULE THEM ALL END -->
