<div class="container-fluid"> <!-- ONE DIV TO RULE THEM ALL -->

  <div class="row">
    <div class="col-lg-1"><!--div for spacing -->

    </div>

    <div class="col-lg-11">
      <h2>Locations:</h2>

        <% @locations.each do |loc|%>
          <ul>
            <h4><a href="/location/<%=loc.id%>"><li><%= loc.name %></li></a></h4>
              <%= loc.address %><br>
              <%= loc.phone_number %><br>

        </ul>
        <% end %>
    </div>
  </div>

</div><!-- ONE DIV TO RULE THEM ALL END -->
